
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    aqqq11112233

      <div id="d_clip_button" class="clip_button" data-clipboard-text="Copy Me!" title="Click to copy." style="border:1px solid black; padding:20px;">Copy To Clipboard test!!</div>

      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
      <script type="text/javascript">
      var textArea = document.createElement("textarea");
      textArea.id = "textarea_id";
      textArea.value = "test textarea123!!!";
      document.body.appendChild(textArea);

      ZeroClipboard.config( { swfPath: "//cdn.jsdelivr.net/zeroclipboard/2.2.0/ZeroClipboard.swf" } );
      var client = new ZeroClipboard( document.getElementById('d_clip_button') );

      client.on( 'ready', function(event) {
        console.log( 'movie is loaded' );

        client.on( 'copy', function(event) {
          var textareaElement = document.getElementById("textarea_id");
          event.clipboardData.setData('text/plain', textareaElement.value);
          //event.clipboardData.setData('text/plain', event.target.innerHTML);
        } );

        client.on( 'aftercopy', function(event) {
          console.log('Copied text to clipboard: ' + event.data['text/plain']);
        } );
        client.on( 'complete', function(event) {
          console.log('complete test');
        } );
      } );

      client.on( 'error', function(event) {
        console.log( 'ZeroClipboard error of type "' + event.name + '": ' + event.message );
        ZeroClipboard.destroy();
      } );
      </script>
    </body>
</html>
